{% load static %}
<section class="section">
    <div class="container has-background-warning-light">
        <article class="message has-background-warning-light">
            <div class="message-body">
                
                  <div class="icon-text">
                    <span class="icon has-text-info">
                      <i class="fas fa-info-circle"></i>
                    </span>
                    <span><strong class="has-text-danger"> При оптовых заказах действует гибкая система скидок <br /> </strong></span>
                  </div>
                
                <div class="icon-text">
                    <span class="icon has-text-success">
                      <i class="fas fa-check-square"></i>
                    </span>
                    <span class="is-size-6">Конечную цену и дополнительную информацию Вы можете узнать связавшись с нами</span>
                  </div>

                 <br />
                <span class="icon-text">
                    <span class="icon ">
                      <i class="fas fa-phone-square fa-lg"></i>
                    </span>
                    <span class="is-size-5"><a href="tel:+78142332211">Позвонить</a></span>
                  </span>
                    &nbsp;&nbsp;&nbsp;
                  <span class="icon-text">
                    <span class="icon ">
                      <i class="fa fa-whatsapp fa-lg"></i>
                    </span>
                    <span class="is-size-5"><a href="https://api.whatsapp.com/send?phone=79234567890">Написать</a></span>
                  </span>

            </div>
          </article>
    </div>
</section>