{% load static %}
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Штучные пряники</title>
</head>
<body>
    {% include 'navbar.html' %}

    <section class="section">
      <div class="container ">


        <h2 class="title has-text-centered"> Мы Прянично </h2>

        <div class="columns   is-multiline ">
          <p>
            Наше предприятие «Прянично» берет историю своего существования с 1992 года.
            За этот период мы не только смогли значительно расшириться, но также занять свою нишу на рынке кондитерских изделий.
            Наша продукция имеет 100-процентный натуральный состав.
            В производстве продукции используется только качественное натуральное сырье. Параллельно мы изыскиваем пути сохранения конкурентоспособной цены, которая традиционно ниже сопоставимых товаров на рынке. Цель достигается за счет поиска более качественных и выгодных поставщиков.
            Наша компания «Прянично» на сегодняшний день является ведущим производителем в Кабардино-Балкарии.
          </p>
          <div class="column  is-half column-single">


            <hr class="is-size-4 has-background-warning">
            <strong>География наших поставок включает следующие направления:</strong>
            <ul class="mt-3">
              <li>Краснодарский край </li>
              <li>Ростовская область</li>
              <li>Московская область </li>
              <li>Омск </li>
              <li>Томск</li>
              <li>Санкт-Петербург</li>
              <li>Крым </li>
              <li>Воронеж</li>
              <li>Северная Осетия</li>
              <li>Дагестан </li>
              <li>И многие другие города России и СНГ. </li>

            </ul>

            
          </div>

          <div class="column  is-half ">


            <hr class="is-size-4 has-background-warning">
            <strong>Контакты </strong>
            <ul class="mt-3">
              <li>Адрес: КБР г. Нальчик переулок Монтажников 5а</li>
              <li>Номер для звонков - 7 (923) 277 91 11</li>
              <li>Почта  - pryanichno@mail.ru</li>
              <li>Инстаграм - <a href="https://www.instagram.com/pryanichno_/">pryanichno_</a></li>
              <li>Ватс - +79287019631</li>
              <li>Для быстрой связи:</li>
              <button class="button is-danger mt-3"><span class="icon ">
                <i class="fas fa-phone-square fa-lg"></i>
              </span>
              <span class="is-size-6"><a href="tel:+79232779111" class="has-text-white">Позвонить</a></span>
            </span></button>
            <button class="button is-success mt-3">
              <span class="icon-text">
                <span class="icon ">
                  <i class="fa fa-whatsapp fa-lg"></i>
                </span>
                <span class="is-size-6"><a href="https://api.whatsapp.com/send?phone=79323185253" class="has-text-white">Написать</a></span>
              </span>
            </button>

            </ul>

            
          </div>
        </div>


        <div class="columns   is-multiline ">
         
          <div class="column  is-half">


            <hr class="is-size-4 has-background-warning">
            <strong>Вакансии:</strong>
            <ul class="mt-3">
              <li>- Сотрудник склада готовой продукции</li>
              <li>- Формировщик-штамповщик</li>
              <li>- Пекарь </li>
              <li>- Глазировщик </li>
              <li>- Упаковщик</li>
              <li>- Тестомес</li>
              

            </ul>

            
          </div>

        </div>

      </div>

    </section>

<script>
  // burger menu
const burgerIcon  = document.querySelector('#burger');
const navbarMenu  = document.querySelector('#nav-links');

burgerIcon.addEventListener('click', () => {
    navbarMenu.classList.toggle('is-active');
});




</script>

</body>
</html>